/* WELCOME */
.welcome .welcome-item h4 {
    color: #FB811E;
    font-size: 22px;
}

.welcome .welcome-item h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
}

.welcome .welcome-item p {
    margin: 1rem 0 0;
}

.welcome img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

/* TEAM */
.team {
    background-color:#009f4d;
}

.team .team-top h2 {
    color: white;
    font-weight: bold;
    opacity: .14;
    font-size: 12vw;
    position: absolute;
    top: 50%;
    right: 35%;
    transform: translate(-50%, -50%);
}

.team .team-top h4 {
    font-size: 22px;
    color: white;
    margin-bottom: .5rem;
}

.team .team-top h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: white;
}

.team .team-top p {
    font-size: 20px;
    font-weight: 300;
    color: white;
}

.team .team-bottom .team-content {
    background-color: white;
    border-radius: 1rem;
    border-radius: .5rem;
    padding: 1rem;
}

.team .team-bottom .team-content a {
    text-decoration: none;
    color: white;
    transition: all .5s;
}

.team .team-bottom .team-content a:hover {
    color: #FB811E;
}

.team-bottom .team-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
    display: block;
}

.team-bottom .team-content figcaption {
    text-align: center;
    color: white;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 8, 8, 0.54);

    opacity: 0;
    overflow: hidden;

    transition: all .3s;
}

.team-content figcaption:hover {
    opacity: 1;
}

.team-content .caption-top {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    padding: 0 20px;
    opacity: 0;
    transform: translateY(-200%);
    transition: transform .3s .1s;
}

.team-content .caption-top h4 {
    font-size: 1.5rem;
    margin-bottom: .25rem;
}

.team-content .caption-top p {
    color: white;
}

.team-content .caption-bottom {
    transform: translateY(200%);
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    opacity: 0;
    transition: transform .3s .1s;
}

.team-content .caption-bottom li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.team-content .caption-bottom a {
    font-size: 1rem;
}

.team-content figcaption:hover .caption-top, .team-content figcaption:hover .caption-bottom {
    transform: translateY(0);
    opacity: 1;
}

.team .team-content .team-desc a {
    font-size: 21px;
    color: black;
    font-weight: bold;
}

.team .team-content .team-desc p {
    font-size: 16px;
    margin: 1px 0 0;
    color: black;
}

/* CONTACT */
.contact .contact-top {
    width: 80%;
}

.contact .contact-top .contact-info h3 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 24px;
    font-weight: bold;
}

.contact .contact-top .contact-info h4 {
    font-size: 22px;
    color: #FB811E;
}

.contact .contact-top .contact-info h5 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: .5rem;
}

.contact-info .contact-item i {
    font-size: 20px;
    color: #FB811E;
}

.contact-info .contact-item .item-right a{
    text-decoration: none;
    color: var(--secondary-color);
    transition: all .5s;
}

.contact-info .contact-item .item-right a:hover{
    color: #FB811E;
}

.contact-top .contact-info p {
    color: var(--secondary-color);
}

.contact-top .contact-form input, .contact-top .contact-form textarea {
    font-size: 15px;
    padding: 14px;
    border-radius: 3px;
    outline: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-color: var(--sixth-color);
}

.contact-top .contact-form input::placeholder, .contact-top .contact-form textarea::placeholder {
    color: var(--secondary-color);
}

.contact-top .contact-form input:focus, .contact-top .contact-form textarea:focus {
    border-color: #FB811E;
    color: black;
    box-shadow: none;
}

.contact-top .contact-form button {
    margin: 0;
}

.contact-top .contact-form button:focus {
    box-shadow: 0 0 0 .2rem #CBF2E2;
    outline: none;
}

/* ----------------- RESPONSIVE ----------------- */
@media screen and (max-width: 1199.98px) {
    /* CONTACT */
    .contact .contact-top {
        width: 100%;
    }
}

@media screen and (max-width: 991.98px) {
    /* WELCOME */
    .welcome .welcome-item h4 {
        font-size: 20px;
    }

    .welcome .welcome-item h3 {
        font-size: 35px;
        line-height: 45px;
    }

    /* TEAM */
    .team .team-top h2 {
        right: 53%;
        transform: translateY(-50%);
    }

    .team .team-top h4 {
        font-size: 20px;
    }

    .team .team-top h3 {
        font-size: 35px;
        line-height: 45px;
    }

    /* CONTACT */
    .contact .contact-top .contact-info h4 {
        font-size: 20px;
    }

    .contact .contact-top .contact-info h3 {
        font-size: 35px;
        line-height: 45px;
    }
}

@media screen and (max-width: 767.98px) {
    /* WELCOME */
    .welcome .welcome-item h4 {
        font-size: 18px;
    }

    .welcome .welcome-item h3 {
        font-size: 32px;
        line-height: 42px;
    }

    /* TEAM */
    .team .team-top h2 {
        right: 50%;
        transform: translate(50%, -50%);
    }

    .team .team-top h4 {
        font-size: 18px;
    }

    .team .team-top h3 {
        font-size: 32px;
        line-height: 42px;
    }

    /* CONTACT */
    .contact .contact-top .contact-info h4 {
        font-size: 18px;
    }

    .contact .contact-top .contact-info h3 {
        font-size: 32px;
        line-height: 42px;
    }

    .contact .contact-top .contact-info h5 {
        font-size: 17px;
    }
}

@media screen and (max-width: 568px) {
    /* WELCOME */
    .welcome .welcome-item h3 {
        font-size: 30px;
        line-height: 40px;
    }

    /* TEAM */
    .team .team-top h3 {
        font-size: 30px;
        line-height: 40px;
    }

    /* CONTACT */
    .contact .contact-top .contact-info h3 {
        font-size: 30px;
        line-height: 40px;
    }
}